header{
    background: grey;
    padding:5px;
  }
#wrapper{
 width: 100%;
}
section{float: left;
width: 650px;} 

header div{
max-width:100%;
 margin: 0 auto;
 background: grey;
 padding: 5px;
}
figure {
    position:absolute;
    left:300px;
    top:12px;
}
.skills-primary::before{
content: "Main"
}

[data-skill="5"] span{
    width: 50%;
    height: 15px;
    padding: 5px;
    background-color: red;
    display: block;
    margin: 10px; 
}
[data-skill="3"] span{
    width: 30%;
    height: 15px;
    padding: 5px;
    background-color: red;
    display: block;
    margin: 10px; 
}
[data-skill="1"] span{
    width: 15%;
    height: 15px;
    padding: 5px;
    background-color: red;
    display: block;
    margin: 10px; 
}
.skills-secondary::before{
    content: "other"
    }
.skill{
    background-color: gray;
    width: 500px;
    height: 40px;
    margin: 1px;  
    padding:1px;
    color:white;
}
[data-skill="9"] span{
    width: 90%;
    height: 15px;
    padding: 5px;
    background-color: red;
    display: block;
    margin: 10px; 
}
[data-skill="7"] span{
    width: 15%;
    height: 15px;
    padding: 5px;
    background-color: red;
    display: block;
    margin: 10px; 
}
.contacts{
position: absolute;
color:red;
top:35px;
right:39px;
width:500px;
}

}
#contact h3{
    display: none;
}

dl {
    width: 116.5%;
    
    background: #ff0;
    padding: 0;
    margin: 0;
  }
  dt {
    float: left;
    width: 21%;
    color: white;
    background:orangered;
    
  }
  dd {
    float: left;
    width: 70%;
    
    background:black;
    padding: 0;
    margin: 0;
    color:orangered;
  }
.contact-value {
    color:black;
}

